body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 30px;
  }
  
ol, ul {
  padding-left: 30px;
}

li {
  margin-top: 4px;
}
  
  
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.toggle {
  margin-left: 270px;
  position: fixed;
}

  
  